<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.ntu.scse.cz2006.ontology.easyexercise">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.ViewPlanActivity"
            android:exported="true" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.CheckInCustomizedActivity"
            android:exported="true"
            android:label="Check In" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.ChatRoomActivity"
            android:exported="true"
            android:label="Chatroom" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.CheckOutActivity"
            android:exported="true"
            android:label="Check Out">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />
                <category android:name="com.example.activitytest.CHECKOUT_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.NoFacilityActivity"
            android:exported="true"
            android:label="No Facility" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.ExerciseActivity"
            android:exported="true"
            android:label="Exercise" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.SelectSportActivity"
            android:exported="true"
            android:label="Select Sport"
            android:launchMode="singleTask" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.SelectFacilityCheckInActivity"
            android:exported="true"
            android:label="Select Facility" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.SelectFacilityPlanActivity"
            android:exported="true"
            android:label="Select Facility" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.CheckInNormalActivity"
            android:exported="true"
            android:label="Check In" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.AddPlanActivity"
            android:exported="true"
            android:label="Add Plan" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.authentication.LoginActivity"
            android:exported="true"
            android:label="Sign In"></activity>
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.authentication.UserActivity"
            android:exported="true"
            android:label="User" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.authentication.ResetPasswordActivity"
            android:exported="true"
            android:label="Reset Password" />
        <activity
            android:name="sg.edu.ntu.scse.cz2006.ontology.easyexercise.ui.activities.authentication.SignUpActivity"
            android:exported="true"
            android:label="Sign Up" />
    </application>
</manifest>