<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.CheckOutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.NoFacilityActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.ExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.ViewMeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SelectSportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SelectFacilityCheckInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SelectFacilityPlanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.CheckInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AddPlanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.UserActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>